.history-page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1c; 
    color: #fff;
  }
  
  .coin-info-container {
    flex: 1; 
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    background-color: #1a1a1c;
  }
  
  .history-chart-container {
    flex: 2; 
    min-width: 500px;
    padding: 20px;
    background-color: #1a1a1c;
  }