.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    width: 940px;
    border-bottom: 1px solid #d7d7d7;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin-header {
    font-weight: bold;
}

.coin-rank {
    width: 30px;
    min-width: 30px;
    padding-left: 4px;
}

.coin img {
    height: 30px;
    width: 30px;
    min-width: 30px;
    margin-right: 10px;
}

.coin-space {
    height: 30px;
    min-width: 30px;
    margin-right: 10px;
}

.coin-name {
    font-size: 16px;
    width: 180px;
    min-width: 180px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    min-width: 110px;
    text-align: right;
}

.coin-volume {
    min-width: 180px;
    text-align: right;
}

.coin-percent {
    min-width: 140px;
    text-align: right;
}
.red{
    color: #f00606;
}
.green{
    color: #11d811;
}

.coin-marketcap {
    min-width: 180px;
    text-align: right;
}
